* .row {
	padding: 0px;
	margin:0px;
	border-radius:0px;
}

body {
    color: #616161;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.41176471;
}

.margin {
	margin-top:15px;
}
.strip {
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: black;
    background-color: #ffcb00;
	font-size: 12px;   
	font-weight: bold; 
	line-height: 1.4;
}

.header-logo {
	display: inline;
	width: 6%;
}

.underline {
	color:black;
	text-decoration:underline;
}

.bg-img {
	background-image: url('../img/bg.jpg');
	width: 100%;
	height:auto;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

nav>li>a {
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu>li>a {
	color:white;
}

.nav>li>a {
	background-color: #1A8FC7;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color:#fff;
	font-size: 15px;
}

.navbar-nav>li>.dropdown-menu {
	background-color: #1A8FC7;
}

.nav .open>a, .nav .open>a:hover {
    background-color: #1A8FC7;
    color: white;
    font-size: 15px;
}
	
.tab-container {
	background-color: black;
	opacity: 0.5;
	font-size: 15px;
	border-radius: 4px;
	padding: 20px 20px;
}
@media(min-width:900px){
	ul>li{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		justify-content: space-between;
		flex-shrink: 1;
	}
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: coral;
}
.nav-pills>li+li {
	margin-left: 10px;
}

.nav>li>a>span {
	margin-right: 4px;
	color:white;
}

.nav>li>a>i {
	margin-right: 4px;
	color:white;
}

.fa {
	margin-right: 4px;
	color:white;
}

.form-container {
	opacity:0.5;
	background-color: black;
	font-size: 15px;
	border-radius: 4px;
	margin-top:10px ;
	padding-top:20px: 
}

.col-md-6 {
	width: 48%;
}
 label {
 	color:white;
 }
/*.col-md-10 .container-fluid form .row col-md-2 button*/
.btn-warning {
	margin-bottom: 10px;
}
/*  datepicker tab  */
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  /*width: 130px;*/
  width: 100%;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}
/* datepicker ends  */







